# This file provides examples of Klipper G-Code macros.  The snippets
# in this file may be copied into the main printer.cfg file and
# customized.

# See docs/Config_Reference.md for a description of parameters.

[delayed_gcode shutdown_after_print]
gcode:
    M140 S0    # nur Bett aus nach 5 min
    M84

[gcode_macro M600]
description: Filament change
gcode:
    SET_IDLE_TIMEOUT TIMEOUT=7200
    PAUSE Z_MIN=50
    # Warte bis Pause wirklich aktiv ist
    {% for i in range(10) %}
        {% if not printer.pause_resume.is_paused %}
            G4 P500
        {% endif %}
    {% endfor %}
    UNLOAD_FILAMENT
    
######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.

[gcode_macro M140]
rename_existing: M140.1
gcode:
    {% set S = params.S|default(0)|float %}
    M140.1 S{S + 10}

[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% set S = params.S|default(0)|float %}
    M190.1 S{S + 10}

[gcode_macro START_PRINT]
gcode:
    UPDATE_DELAYED_GCODE ID=shutdown_after_print DURATION=0
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    {%set ADAPTIVE = params.ADAPTIVE|default(1)|int %}

    # Filament prüfen vor dem Start
    {% if not printer['filament_switch_sensor filament_sensor'].filament_detected %}
        M117 Kein Filament! Bitte einlegen.
        { action_raise_error("Kein Filament eingelegt - Druck abgebrochen!") }
    {% endif %}
    
    # Start bed heating
    M140 S{BED_TEMP}
    G90
    SET_GCODE_OFFSET Z=0.0
    BED_MESH_CLEAR
    G28
    G1 Z10 F3000
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}

    # Nozzle vorheizen während Mesh erstellt wird
    M104 S{EXTRUDER_TEMP}       # ← hierher verschoben

    #Mesh#
    {% if ADAPTIVE == 1 %}
        BED_MESH_CALIBRATE ADAPTIVE=1
    {% else %}
        {% if BED_TEMP <= 65 %}
            BED_MESH_PROFILE LOAD=60
        {% elif BED_TEMP <= 90 %}
            BED_MESH_PROFILE LOAD=80
        {% else %}
            BED_MESH_PROFILE LOAD=110
        {% endif %}
    {% endif %}

    Smart_Park
    # Warte bis Nozzle Temperatur erreicht
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-2} MAXIMUM={EXTRUDER_TEMP+2}
    LINE_PURGE
    
    G1 E0.3 F1800    ; Retract von LINE_PURGE ausgleichen
    G92 E0           ; Extruder nullen

[gcode_macro END_PRINT]
gcode:
    # Sicherheit: Absolut
    G90
    # Retract solange Düse noch heiß ist
    G91
    G1 E-3 F1800
    G90
    G92 E0
    # Kopf anheben
    G91
    G1 Z25 F3000
    G90
    # Bett nach vorne (Switchwire/Enderwire-typisch)
    G1 X{printer.toolhead.axis_maximum.x - 15} Y{printer.toolhead.axis_maximum.y - 15} F6000
    # Turn off bed, extruder, and fan
    M104 S0                                          # Hotend sofort aus
    M106 S0                                          # Lüfter sofort aus
    UPDATE_DELAYED_GCODE ID=shutdown_after_print DURATION=300   # Bett nach 5 min aus
    G4 P500
    M84

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    # Heizer sofort aus
    TURN_OFF_HEATERS
    M106 S0
    
    # Bewegungen nur wenn gehomt
    {% if 'xyz' in printer.toolhead.homed_axes %}
      G90
      G91
      G1 E-3 F1800
      G90
      G92 E0
      G1 Z20 F3000
      G1 Y{printer.toolhead.axis_maximum.y - 10} F6000
    {% endif %}
    
    UPDATE_DELAYED_GCODE ID=shutdown_after_print DURATION=300
    G4 P500
    M84
    BASE_CANCEL_PRINT

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

# [pause_resume]

# [gcode_macro M600]
# gcode:
#     {% set X = params.X|default(50)|float %}
#     {% set Y = params.Y|default(0)|float %}
#     {% set Z = params.Z|default(10)|float %}
#     SAVE_GCODE_STATE NAME=M600_state
#     PAUSE
#     G91
#     G1 E-.8 F2700
#     G1 Z{Z}
#     G90
#     G1 X{X} Y{Y} F3000
#     G91
#     G1 E-50 F1000
#     RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# Override M117 command with rawparams
######################################################################

# The macro below will override the default M117 command to echo the message.
#
# It uses the rawparams pseudo-variable that contains the full unparsed
# parameters that was passed to the M117 command.
#
# As this can include comments, we are trimming the text when a `;` or `#` is
# found, and escaping any existing `"`

[gcode_macro M117]
rename_existing: M117.1
gcode:
  {% if rawparams %}
    {% set escaped_msg = rawparams.split(';', 1)[0].split('\x23', 1)[0]|replace('"', '\\"') %}
    SET_DISPLAY_TEXT MSG="{escaped_msg}"
    RESPOND TYPE=command MSG="{escaped_msg}"
  {% else %}
    SET_DISPLAY_TEXT
  {% endif %}

# SDCard 'looping' (aka Marlin M808 commands) support
#
# Support SDCard looping
[sdcard_loop]

# 'Marlin' style M808 compatibility macro for SDCard looping
[gcode_macro M808]
gcode:
    {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}{% endif %}
    {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END{% endif %}
    {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST{% endif %}

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

